* {
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

/* shared Css Styles */

.primary-text-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.primary-text-size {
    color: #534C64;
    font-size: 1.15rem;
    font-weight: 500;
}

.fa:hover {
    cursor: pointer;
}

.primary-btn {
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 3rem;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: #FFF;
    font-size: 1rem;
}

/* nav-section starts here */

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 2.5rem 0rem;
}

.nav-icon {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-logo {
    font-size: 1.8rem;
    font-weight: 700;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.nav-menu li {
    list-style: none;
}

.nav-btn {
    display: inline-flex;
    gap: 10px;
    border: none;
    padding: 10px;
    border-radius: 0.5rem;
    background: rgba(11, 2, 35, 0.10);
    font-size: 1rem;
}

/* banner section starts here */

.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('./images/banner-background.png');
    background-repeat: no-repeat;
}

.banner-text h3 {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}

.banner-text h1 {
    font-size: 6.5rem;
    font-weight: 800;
}

.banner-text li {
    text-align: left;
    list-style: none;
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 1.5rem;
}

.banner-btn {
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 3rem;
    background-color: #4EC5F7;
    color: #FFF;
    font-size: 1rem;
}

.banner-text button {
    margin: 10px;
}

/* online games funny video section starts here */

.funny-video-container {
    margin-bottom: 7.5rem;
}

.funny-video-text {
    margin: 7rem 0rem 5rem 0rem;
    text-align: center;
}

.funny-video-text,
h1 {
    padding-bottom: 10px;
    font-size: 2.8rem;
    font-weight: 700;
}

.funny-video-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.card,
img {
    padding-bottom: 10px;
}

/* responsive section starts here */

@media screen and (max-width: 576px) {

    .nav-container,
    .nav-icon,
    .nav-menu {
        flex-direction: column;
    }

    .nav-menu {
        margin-top: 10px;
    }

    .banner-container {
        flex-direction: column-reverse;
        background-image: none;
        text-align: center;
    }

    .banner-container li {
        text-align: center;
    }

    .banner-img img {
        width: 100%;
    }

    .banner-text {
        width: 100%;
        background-image: url('./images/banner-background.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .funny-video-text,
    h1 {
        font-size: 2rem;
    }

    .funny-video-cards {
        flex-direction: column;
    }

}

@media screen and (min-width: 576px) and (max-width: 960px) {
    .banner-container {
        flex-direction: column-reverse;
        background-image: none;
        text-align: center;
    }

    .banner-text {
        width: 100%;
        background-image: url('./images/banner-background.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .banner-container li {
        text-align: center;
    }

    .funny-video-cards {
        flex-direction: column;
    }
}